<h1 class="header" >
    Employee List
</h1>

<table>
    <thead>
        <tr>
            <th>Fullname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>
                <a href="/employee/{{this.id}}">Edit</a>
                <a href="/employee/delete/{{this.id}}" onclick="return confirm('Are you sure??') ">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>


</table>

<a href="/employee">Go Back</a>